.social-icon {
   color: #333; /* Use any desired icon color */
   font-size: 18px;
   margin-left: 20px; /* Increase this value to add more space between icons */
   text-decoration: none;
}

.map-image {
   max-width: 100%;
   height: auto;
}
