/* src/globalStyles.css */
body {
   font-family: "Kanit", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Ubuntu", sans-serif;
}

.container {
   max-width: 800px;
   margin: 0 auto;
   padding: 1.2rem 1rem;
}
