/* Change the background color of the navbar */

.navigation {
   background-color: #000;
   height: auto; /* Change to auto so the height adjusts to the content */
   min-height: 5rem; /* Set a minimum height to maintain the original height if the content is smaller */
   z-index: 1000;
   padding: 0;
}

.brand-logo {
   height: 5rem; /* Adjust the height of the image */
   width: auto; /* Maintain the aspect ratio */
}

/* Change the font color of nav links */
.nav-link {
   color: #fff;
}

/* Change the font color of nav links on hover */
.nav-link:hover {
   color: #ccc;
}

.navbar-title {
   font-size: 2rem; /* Change this value as needed */
}

/* Change the color of the brand text */
.navbar-brand {
   color: #fff;
   font-size: 2.2rem; /* Increase the font size of the title */
}

/* Change the color of the brand text on hover */
.navbar-brand:hover {
   color: #ccc;
}

/* Add space between nav links using Flexbox */
.navbar .nav {
   display: flex;
   justify-content: space-between;
}

/* Set a max-width for the nav container for responsiveness */
.navbar .container {
   max-width: 1200px;
   display: flex;
   justify-content: space-between;
}

.container-right {
   max-width: 1200px;
   display: flex;
   justify-content: flex-end; /* Change "end" to "flex-end" */
   margin-right: 2rem; /* Add space between the container-right and the right side edge */
}

/* For smaller screens, add some padding and set nav links to full width */
@media (max-width: 991.98px) {
   .navbar .nav {
      padding: 0 15px;
   }
   .navbar .nav .nav-link {
      flex-grow: 1;
      text-align: center;
   }
}

/* Custom styles for smaller screens */
@media (max-width: 991.98px) {
   .navbar .navbar-collapse {
      background-color: rgba(0, 0, 0, 0.8);
      position: absolute;
      right: 0;
      top: 100%;
      width: auto;
      z-index: 1000;
      margin-right: 1px; /* Adjust this value as needed */
      padding-left: 1rem;
      padding-right: 1rem;
   }

   .navbar-toggle {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: 1rem;
      margin-top: 1rem;
   }
}
