/* UploadCase.css */

h2 {
   text-align: center;
   margin-bottom: 2rem;
   font-size: 2rem;
   color: #333;
}
h4 {
   text-align: center;
   margin-bottom: 2rem;
   color: #333;
}
h6 {
   text-align: center;
   color: #333;
}

.upload-case-container {
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.upload-case-container h2 {
   margin-bottom: 1.5rem;
   text-align: center;
}

.card {
   margin-bottom: 1rem;
   border: none;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
   background-color: #f8f9fa;
}

.card-header button {
   text-decoration: none;
   color: #212529;
   font-weight: 500;
}

.card-body {
   padding: 1.25rem;
}
